# General files formats
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.log
*.gitattributes
*.dbmdl
*.aps
*.orig
*.bin
*.obj
*.tlog
*.pdb
*.ilk
*.pch
*.res
*.idb
*.qm
*.db
*_pb2*

#visual studio / pycharm folder
.vs
.idea
__pycache__
